<div class="contenido">

  <form [formGroup]="form" ngSubmit="guardar()">
    
    <div class="options">
      <button 
      mat-flat-button 
      color="primary" 
      (click)="adicionMaterial()">+</button>

      <button 
      mat-stroked-button 
      color="warn" 
      (click)="eliminarall()" class="bdelete"
      >Eliminar todo</button>
    </div>

    <div class="content" formArrayName="utiles">

      <div class="contenido1"   *ngFor="let s of utilesEscolares.controls; let i = index " [formGroupName]="i">
        <mat-form-field appearance="legacy">
            <mat-label>Utiles Escolares</mat-label>
            <input 
            matInput 
            formControlName="utilNuevo"
            >
        </mat-form-field>

          <mat-checkbox 
          class="example-margin" 
          formControlName="check"
          color="warn"
          >Aceptar</mat-checkbox>

          <button 
          mat-flat-button 
          color="warn" 
          (click)="borrarPasatiempo(i)"
          >Eliminar</button>
      </div>

    </div>

    <div class="options">
      <button 
      mat-stroked-button 
      color="primary"
      type="submit"
      [disabled]="form.invalid"
      >Guardar</button>

      <button 
      mat-stroked-button 
      color="warn" 
      type="reset"
      class="bdelete"
      >Limpiar</button>
    </div>
  </form>
</div>