*{
  margin: 10px;
}

.contenido{
  width: 86%;
  margin-right: 4px;
}

.options {
  width: 80%;
  display: flex;
  justify-content: center;
  align-content: space-around;
}

.bdelete {
  margin-left: 100px;
}



.content{
  width: 50%;
  margin: 0 auto;
}

fieldset{
  border: 2px dotted rgba(0, 0, 0, 0.149);
}


small{
  color: red;
}